@model Contatos.Models.Numeros

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/Style.css">
    <link>
    <title>Create</title>
</head>
<body>
    <main class="container">
        <h2>Cadastro</h2>
        <form action="register" method="post">

            <div class="input-field">
                <input type="text" name="nome" id="nome"
                       placeholder="Digite seu nome">
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="text" name="numero" id="numero"
                       placeholder="Digite seu telefone">
                <div class="underline"></div>
            </div>
            <div class="Select">
                <label for="operadora">Selecione sua operadora:</label>
                <select name="operadora" id="operadora">
                    <option value="null"></option>
                    <option value="2">Oi</option>
                    <option value="1">Claro</option>
                    <option value="4">Vivo</option>
                    <option value="3">Tim</option>
                </select>

            </div>
            <input type="submit" value="Register" class="btn btn-default">

        </form>

    </main>

</body>



@*<body>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Contatos</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>*@
</html>
