@model Contatos.Models.Numeros

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Numeros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Operadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operadora)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edita", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
